a{
	text-decoration: none;
	color: #808080;
	font-family: 'PT Sans Narrow', sans-serif;
}
a:hover{
	color: #F45673;
	text-shadow: 1px 1px 5px;
}
body{
	background-image: url(./images/background.png);
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
img{
	width: 100%;
}
nav{
	font-size: 64px;
}
.d-inline{
	display: inline;
}
.d-inline-b{
	display: inline-block;
}
.float-r{
	float: right;
}
h1, h3, h5{
	font-family: 'Neucha', cursive;
}
.hr-undernav{
	width: 95%;
	border-top-style: solid;
	border-top-color: #d2d2d2;
	border-width: 1px 0 0 0;
	-webkit-box-shadow: 0px 3px 10px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 3px 10px 0px rgba(179,179,179,1);
	box-shadow: 0px 3px 10px 0px rgba(179,179,179,1);
}
.img-main{
	width: 30%;
}
.logo{
	font-size: 64px;
	font-family: 'Pangolin', cursive;
	text-transform: capitalize;
	color: #FBB963;
	text-shadow: 2px 2px 8px #FBB963;
}
.ol-cover{
	padding: 20px 80px;
	border-left-style: solid;
	border-left-color: #ff8566;
	border-left-width: 5px;
	background-color: #ffffcc;
	font-size: 24px;
}
.ol-regular{
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	font-weight: 550;
}
.span-logo{
	font-family: 'Pangolin', cursive;
	color: #65556E;
  text-shadow: 2px 2px 8px #65556E;
}
.submenu{
	display: none;
	margin: 0;
	padding: 20px 40px;
	list-style-type: none;
	position: absolute;
	top: 60px;
	left: -30px;
	z-index: 2;
	font-size: 24px;
	text-align: center;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
	box-shadow: 0px 0px 15px 0px rgba(179,179,179,1);
}
.submenu-parent{
	position: relative;
}
.submenu-parent:hover .submenu{
	display: block;
}
.txt-capital{
	text-transform: capitalize;
}
.txt-upper{
	text-transform: uppercase;
}
.page-cover{
	width: 75%;
	margin: 20px auto;
	padding: 20px 40px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 42px 0px rgba(179,179,179,1);
	-moz-box-shadow: 0px 0px 42px 0px rgba(179,179,179,1);
	box-shadow: 0px 0px 42px 0px rgba(179,179,179,1);
}
.ul-regular{
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 50px;
	right: 50px;
	vertical-align: bottom;
}